/* v0.9.1 - 2025-03-04 */

.tb-filtered {
    display: none;
}

.tb-sort {
    cursor: pointer;
}

.tb-masked {
    display: none;
}

.tb-sortable {
    cursor: auto;
}

.tb-reorder {
    cursor: grab;
}

a.tb-operation {
    cursor: pointer;
}

.tb-operation-group {
    white-space: nowrap;
}
